<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
   <div class="task-container">
      <span class="heading">Welcome, <i>{{ session['username'] }}</i> <a href="/logout" class="logout">Logout</a></span>
        <h3>Add New Task</h3>
            <form method="POST">
                <input type="text" name="title" placeholder="Task Title" required>
                <textarea rows="4" name="description" placeholder="Task Description"></textarea>
                <div class="button-container">
                    <button type="submit" class="login-btn">Add Task</button>
                </div>             
            </form>
        <h3>Tasks List</h3>
        <ul>
        {% for task in tasks %}            
            <li>
                <strong>{{ task.title }}</strong> - {{ task.description }} (<em>{{ task.status }}</em>)
                <span class="controls">  
                    <a href="/update/{{ task.id }}" class="edit">Edit</a> |                
                    <a href="/delete/{{ task.id }}" class="delete">Delete</a>                               
                </span>
            </li>
        {% endfor %}
        </ul>
    </div> 
</body>
</html>